---
import Main from "../layouts/Main.astro";
import Modal from "../components/Modal";
---

<Main>
  <div class="flex flex-col items-center justify-center h-full relative">
    <!-- Title -->
    <!-- ! We gotta work on this -->
    <!-- <h2 class="text-2xl font-semibold text-white mb-6">
      {sessions.length === 0 ? "Welcome!" : "Your Sessions"}
    </h2>

    <!-- ???????????????????????????????????? -->
    <!-- Session List (Now without the extra box)
    <ul class="list-none p-0 text-center">
      {
        sessions.length === 0 ? (
          <p class="text-gray-400">No sessions yet. Start a new one!</p>
        ) : (
          sessions.map((session: any) => (
            <li
              class="mb-2 rounded-full p-2 bg-primary text-primary-content
            transition-transform transform-gpu hover:scale-105
            hover:shadow-md hover:border-b-4 hover:border-b-success cursor-pointer"
            >
              <a href={`/session/${session.slug}`} class="justify-center flex">
                {session.title}
              </a>
            </li>
          ))
        )
      }
    </ul> -->

    <!-- "New Session" Button Moved to Bottom Right -->
    <Modal
      client:visible
      buttonText="+ New Session"
      buttonClassName="absolute bottom-4 right-4 rounded-full p-3 bg-primary text-base-100 hover:shadow-md hover:bg-secondary transition-colors duration-300"
      modalClassName="w-[50%]"
    >
      <section class="flex flex-row gap-4">
        <button
          onclick="window.location.href='/live'"
          class="bg-base-300 flex flex-col items-center justify-center w-1/2 border-2 border-accent text-accent rounded-lg p-4
        hover:shadow-md hover:border-secondary hover:text-secondary cursor-pointer"
        >
          <svg
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="size-[50%] fill-current"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g>
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill-rule="nonzero"
                  d="M16 4a1 1 0 0 1 1 1v4.2l5.213-3.65a.5.5 0 0 1 .787.41v12.08a.5.5 0 0 1-.787.41L17 14.8V19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14zm-1 2H3v12h12V6zM7.4 8.829a.4.4 0 0 1 .215.062l4.355 2.772a.4.4 0 0 1 0 .674L7.615 15.11A.4.4 0 0 1 7 14.77V9.23c0-.221.18-.4.4-.4zM21 8.84l-4 2.8v.718l4 2.8V8.84z"
                >
                </path>
              </g>
            </g>
          </svg>
          <p class="w-full py-4 font-bold text-5xl">Live Video</p>
        </button>
        <button
          onclick="window.location.href='/upload'"
          class="bg-base-300 flex flex-col items-center justify-center w-1/2 border-2 border-accent text-accent rounded-lg p-4
        hover:shadow-md hover:border-secondary hover:text-secondary cursor-pointer"
        >
          <svg
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="size-[50%] fill-current"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M12.5535 2.49392C12.4114 2.33852 12.2106 2.25 12 2.25C11.7894 2.25 11.5886 2.33852 11.4465 2.49392L7.44648 6.86892C7.16698 7.17462 7.18822 7.64902 7.49392 7.92852C7.79963 8.20802 8.27402 8.18678 8.55352 7.88108L11.25 4.9318V16C11.25 16.4142 11.5858 16.75 12 16.75C12.4142 16.75 12.75 16.4142 12.75 16V4.9318L15.4465 7.88108C15.726 8.18678 16.2004 8.20802 16.5061 7.92852C16.8118 7.64902 16.833 7.17462 16.5535 6.86892L12.5535 2.49392Z"
              >
              </path>
              <path
                d="M3.75 15C3.75 14.5858 3.41422 14.25 3 14.25C2.58579 14.25 2.25 14.5858 2.25 15V15.0549C2.24998 16.4225 2.24996 17.5248 2.36652 18.3918C2.48754 19.2919 2.74643 20.0497 3.34835 20.6516C3.95027 21.2536 4.70814 21.5125 5.60825 21.6335C6.47522 21.75 7.57754 21.75 8.94513 21.75H15.0549C16.4225 21.75 17.5248 21.75 18.3918 21.6335C19.2919 21.5125 20.0497 21.2536 20.6517 20.6516C21.2536 20.0497 21.5125 19.2919 21.6335 18.3918C21.75 17.5248 21.75 16.4225 21.75 15.0549V15C21.75 14.5858 21.4142 14.25 21 14.25C20.5858 14.25 20.25 14.5858 20.25 15C20.25 16.4354 20.2484 17.4365 20.1469 18.1919C20.0482 18.9257 19.8678 19.3142 19.591 19.591C19.3142 19.8678 18.9257 20.0482 18.1919 20.1469C17.4365 20.2484 16.4354 20.25 15 20.25H9C7.56459 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15Z"
              >
              </path>
            </g>
          </svg>
          <p class="w-full py-4 text-5xl font-bold text-center">Webcam</p>
        </button>
      </section>
    </Modal>
  </div>
</Main>
