---
import DynamicChooser from "../components/DynamicChooser";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<html lang="en" data-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>DETECT</title>
  </head>
  <body class="bg-blue-700">
    <main>
      <Header />
    </main>
  </body>
</html>
