---
import LoginHeader from "../components/LoginHeader.astro";
import LoginComponent from "../components/LoginComponent.astro";
import CustomHead from "../layouts/CustomHead.astro";
---

<CustomHead title="Login">
  <LoginHeader />
  <main class="max-w-2xl mx-auto px-12 md:px-8 sm:px-4 py-4">
    <LoginComponent />
  </main>
</CustomHead>
