---
import Minimal from "../layouts/Minimal.astro";
import WebcamVideoSelector from "../components/DynamicChooser";
---

<Minimal>
  <section class="flex flex-col items-center">
    <h1 class="text-2xl font-semibold text-primary-content mb-6">
    <span class="text-white">Start a New Session</span>
    </h1>

    <div class="bg-base-200 p-6 rounded-lg shadow-lg border-4 border-primary">
      <WebcamVideoSelector client:load/>
    </div>
  </section>
</Minimal>
