---
import LoginHeader from "../components/LoginHeader.astro";
import RegisterComponent from "../components/RegisterComponent.astro";
import CustomHead from "../layouts/CustomHead.astro";
---

<CustomHead title="Register">
  <LoginHeader />
  <main class="max-w-2xl mx-auto px-12 md:px-8 sm:px-4 py-4">
    <RegisterComponent />
  </main>
</CustomHead>
