---
import ThemeSwitcher from "./ThemeSwitcher";
import Settings from "./Settings.astro";
---

<header
  class="flex justify-between bg-base-200 items-center p-5 text-base-content border-4 border-primary m-4 rounded-lg relative"
>
  <!-- Logo -->
  <div class="bg-primary rounded-full p-4 shadow-lg">
    <h1 class="text-primary-content font-bold text-2xl">DETECT</h1>
  </div>

