---
import Modal from "../components/Modal";
import PrivacyPolicy from "../components/PrivacyPolicy.astro";
import TermsOfService from "../components/termsOfService.astro";
import Support from "../components/support.astro";
---

<footer class="p-5 bg-base-200 text-base-content text-center relative border-4 border-primary mx-4 rounded-lg">
  <p>&copy; 2024 DETECT. All rights reserved.</p>
  <nav>
    <ul class="list-none flex justify-center gap-5 p-0">
      <li>
        <!-- Privacy Policy Modal (Uses Astro Component) -->
        <Modal client:visible buttonText="Privacy Policy" closeButtonClassName="text-2xl text-primary" overlayClassName="bg-white" >
          <PrivacyPolicy />
        </Modal>
      </li>

      <li>
          <Modal client:visible buttonText="Terms of service" closeButtonClassName="text-2xl text-primary" overlayClassName="bg-white" >
            <TermsOfService />
          </Modal>
      </li>

      <li>
        <Modal client:visible buttonText="Terms of service" closeButtonClassName="text-2xl text-primary" overlayClassName="bg-white" >
          <Support />
        </Modal>
      </li>
    </ul>
  </nav>
</footer>
