<footer
  class="p-5 bg-base-200 text-base-content text-center relative border-4 border-primary mx-4 rounded-lg"
>
  <p>&copy; 2024 DETECT. All rights reserved.</p>
  <nav>
    <ul class="list-none flex justify-center gap-5 p-0">
      <li>
        <a href="/privacy" class="text-primary hover:text-secondary transition-colors"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a href="/tos" class="text-primary hover:text-secondary transition-colors"
          >Terms of Service</a
        >
      </li>
      <li>
        <a href="#" class="text-primary hover:text-secondary transition-colors"
          >Support</a
        >
      </li>
    </ul>
  </nav>
</footer>
