---
import Modal from "../components/Modal";
import PrivacyPolicy from "../components/PrivacyPolicy.astro";
import TermsOfService from "../components/termsOfService.astro";
import Support from "../components/support.astro";
import Section from "./Section.astro";
---

<footer
  class="p-3 md:p-4 lg:p-5 bg-base-300 text-base-content text-center relative border-4 border-primary rounded-lg min-h-[8vh] md:min-h-[10vh] flex flex-col justify-center text-sm md:text-base"
>
  <p>&copy; {new Date().getFullYear()} DETECT. All rights reserved.</p>
  <nav>
    <ul class="list-none flex justify-center gap-5 p-0">
      <li>
        <!-- Privacy Policy Modal -->
        <Modal
          client:visible
          buttonText="Privacy Policy"
          closeButtonClassName="text-3xl text-primary"
          overlayClassName="bg-white"
          buttonClassName="link"
          modalClassName="w-[55vw] max-w-[750px] md:w-[65vw] lg:w-[60vw] max-h-[85vh] overflow-y-auto p-[4vh] px-[6vw] md:px-[4vw] lg:px-[3vw] rounded-lg"
        >
          <PrivacyPolicy />
        </Modal>
      </li>

      <li>
        <!-- Terms of Service Modal -->
        <Modal
          client:visible
          buttonText="Terms of service"
          closeButtonClassName="text-2xl text-primary"
          overlayClassName="bg-white"
          buttonClassName="link"
          modalClassName="w-[55vw] max-w-[750px] md:w-[65vw] lg:w-[60vw] max-h-[85vh] overflow-y-auto p-[4vh] px-[6vw] md:px-[4vw] lg:px-[3vw] rounded-lg"
        >
          <TermsOfService />
        </Modal>
      </li>

      <li>
        <!-- FAQ Modal -->
        <Modal
          client:visible
          buttonText="Frequently Asked Questions (FAQ)"
          closeButtonClassName="text-2xl text-primary"
          overlayClassName="bg-white"
          buttonClassName="link"
          modalClassName="w-[55vw] max-w-[750px] md:w-[65vw] lg:w-[60vw] max-h-[85vh] overflow-y-auto p-[4vh] px-[6vw] md:px-[4vw] lg:px-[3vw] rounded-lg"
        >
          <Support />
        </Modal>
      </li>
    </ul>
  </nav>
</footer>
