---
---

<section>
  <h2 id="modal-heading" class="text-2xl font-semibold text-secondary mb-4">
    Privacy Policy
  </h2>

  <p id="modal-content" class="mb-4">
    Your privacy is important to us. It is our policy to respect your privacy regarding
    any information we may collect from you across our website and services.
  </p>

  <p class="mb-4">
    We only ask for personal information when we truly need it to provide a service to you. 
    We collect it by fair and lawful means, with your knowledge and consent. 
  </p>

  <p class="mb-4">
    We only retain collected information for as long as necessary to provide you with your 
    requested service. What data we store, we’ll protect within commercially acceptable means 
    to prevent loss and theft, as well as unauthorized access.
  </p>

  <p>
    If you have any questions about how we handle user data and personal information, 
    feel free to contact us.
  </p>
</section>
