---
import Modal from "./Modal";
import Webcam from "./Webcam.svelte"; // Your live webcam component
import VideoUploadProcessing from "./VideoUploadProcessing.svelte";
---

<div class="absolute bottom-4 right-4">
  <button
    id="new-session-btn"
    class="rounded-full p-3 bg-primary text-base-100 hover:shadow-md hover:bg-secondary transition-colors duration-300 hidden md:block"
  >
    + New Session
  </button>

  <div
    id="session-dropdown"
    class="hidden absolute bottom-14 right-0 bg-base-200 border-2 border-primary rounded-lg shadow-lg w-48"
  >
    <ul class="flex flex-col p-2 text-base-content">
      <li>
        <!-- Replace the anchor link with a modal trigger for Live Video -->
        <Modal
          buttonText="Live Video"
          buttonClassName="block w-full text-left px-4 py-4 hover:bg-primary hover:text-base-100 rounded"
          overlayClassName="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
          modalClassName="w-[85vw] max-w-4xl h-auto p-6 flex flex-col items-center justify-start bg-base-200 border border-primary rounded-lg shadow-lg"
          client:visible
        >
          <!-- This is where your live webcam content will be rendered -->
          <Webcam client:load />
        </Modal>
      </li>
      <li>
        <Modal
          buttonText="Upload Video"
          buttonClassName="block w-full text-left px-4 py-4 hover:bg-primary hover:text-base-100 rounded"
          overlayClassName="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
          modalClassName="w-[85vw] max-w-md h-auto p-6 flex flex-col items-center justify-start bg-base-200 border border-primary rounded-lg shadow-lg"
          client:visible
        >
          <div class="w-full flex flex-col items-center">
            <h3 class="text-xl font-semibold mb-3 text-primary text-center">
              Upload a Video
            </h3>
            <div class="w-full flex flex-col items-center justify-center">
              <VideoUploadProcessing client:visible class="w-full max-w-sm" />
            </div>
          </div>
        </Modal>
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("new-session-btn");
    const dropdown = document.getElementById("session-dropdown");

    if (button && dropdown) {
      button.addEventListener("click", () => {
        dropdown.classList.toggle("hidden");
      });

      document.addEventListener("click", (event) => {
        if (
          !button.contains(event.target as Node) &&
          !dropdown.contains(event.target as Node)
        ) {
          dropdown.classList.add("hidden");
        }
      });
    }
  });
</script>
