<!-- !Placeholder stuff only for now -->
<aside
  class="w-64 p-5 h-[66vh] bg-base-200 rounded-lg shadow-lg m-4 justify-center border-4 border-primary"
>
  <nav>
    <ul class="list-none p-0">
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
        transition-transform transform-gpu hover:scale-105
        hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">Home</a>
      </li>
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
      transition-transform transform-gpu hover:scale-105
      hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">Dashboard</a>
      </li>
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
      transition-transform transform-gpu hover:scale-105
      hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">Settings</a>
      </li>
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
      transition-transform transform-gpu hover:scale-105
      hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">Profile</a>
      </li>
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
      transition-transform transform-gpu hover:scale-105
      hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">New Session</a>
      </li>
      <li
        class="mb-5 rounded-full p-2 bg-primary text-primary-content
      transition-transform transform-gpu hover:scale-105
      hover:shadow-md hover:border-b-4 hover:border-b-success"
      >
        <a href="#" class="justify-center flex">Previous Sessions</a>
      </li>
    </ul>
  </nav>
</aside>
