---

---

<html data-theme="cybrepunk" lang="en">
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-base-100 text-base-content">
    <slot />
  </body>
</html>
