---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import Themes from "astro-themes";
---

<html data-theme="cyberpunk">
  <head>
    <title>DETECT Dashboard</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Themes />
  </head>
  <body class="bg-base-100 text-base-content">
    <Header />
    <div class="main-container flex">
      <Sidebar />
      <div
        class="flex-grow p-5 bg-base-200 text-base-content rounded-lg
        shadow-lg h-[66vh] border-4 border-primary mr-4"
      >
        <!-- Slot for client-side components -->
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
<script src="../scripts/theme_switch.ts"></script>
