---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
---

<html data-theme="default">
  <head>
    <title>WebApp Layout</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-base-100 text-base-content">
    <Header />
    <div class="main-container flex">
      <Sidebar />
      <div class="content flex-grow p-5">
        <!-- Slot for client-side components -->
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
