---
import Themes from "astro-themes";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<html data-theme="cyberpunk">
  <head>
    <title>DETECT Dashboard</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Themes />
  </head>
  <body
    class="bg-base-100 text-base-content px-[1vw] py-[1vh] grid grid-rows-[auto_1fr_auto] md:h-screen gap-[1vh]"
  >
    <Header />
    <div
      class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-[1vh] overflow-hidden"
    >
      <Sidebar />
      <div
        class="bg-base-300 text-base-content rounded-lg shadow-lg border-4 border-primary overflow-auto p-5"
      >
        <!-- Slot for client-side components -->
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
<script src="../scripts/theme_switch.ts"></script>
